/* CHAPTER 14 CSS */

/* list-style-type
    UNORDERED LISTS
    none, disc, circle, square
    ORDERED LISTS
    decimal, decimal-leading-zero, lower-alpha, upper-alpha, lower-roman, & upper-roman */

    .list-style-type ol{
        list-style-type: lower-roman;
    }

    /* list-style-image */

    .list-style-image ul{
        list-style-image: url(../images/star.png);
    }

    .list-style-image li {
        margin: 10px 0px 0px 0px;
    }

    /* list-style-position 
        Outside & Inside*/

    .list-style-position ul {
        width: 250px;
    }

    .list-style-position li {
        margin: 10px;
    }

    .list-style-position ul.illuminations {
        list-style-position: outside;
    }

    .list-style-position ul.season {
        list-style-position: inside;
    }

    /* list-style */

    .list-style ul {
        list-style: inside circle;
        width: 300px;
    }

    .list-style li {
        margin: 10px 0px 0px 0px;
    }